/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  width: 100%;
}
header .banner {
  background-color: #99A4AF;
  display: flex;
  justify-content: space-between;
  color: white;
}
header .banner h1 {
  margin-left: 7.5%;
  margin-bottom: 1%;
  margin-top: 1%;
  font-size: 1.5rem;
}
header .banner img {
  margin-right: 7.5%;
  margin-bottom: 1%;
  margin-top: 1%;
}
header .cover {
  position: relative;
}
header .cover img {
  width: 100%;
}
header .cover h1 {
  position: absolute;
  bottom: 9%;
  left: 7.5%;
  color: white;
  font-size: 4.5rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .main-content {
  display: flex;
  flex-direction: column;
  width: 90%;
}
@media (max-width: 720px) {
  .container .main-content {
    width: 100%;
    align-items: center;
  }
}
.container .main-content .intro-serv p {
  font-size: 1.25rem;
  margin-top: 5%;
}
.container .main-content nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .main-content nav a {
  padding: 2% 4.5% 2% 4.5%;
  border: 1px solid black;
  background-color: white;
  margin-top: 5%;
  font-weight: bold;
  font-size: 1.2rem;
}
.container .main-content nav a .selected {
  background-color: blueviolet;
}
.container .main-content .tabs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 3%;
}
.container .main-content .tabs .tab-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 7.5%;
}
.container .main-content .tabs .tab-content h1 {
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 2%;
  margin-top: 1.5%;
}
.container .main-content .tabs .tab-content .tab-img-text {
  display: flex;
}
.container .main-content .tabs .tab-content .tab-img-text p {
  font-size: 1.075rem;
}
.container .main-content .tabs .tab-content .tab-img-text img {
  width: 50%;
  margin-left: 7.5%;
}
footer {
  background-color: #828282;
  width: 100%;
  display: flex;
  flex-direction: column;
}
footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 670px) {
  footer .footer-content {
    flex-direction: column;
    margin-left: 7.5%;
  }
}
footer .footer-content .email-enter {
  padding-top: 4%;
}
footer .footer-content .email-enter h6 {
  color: white;
  font-weight: bold;
}
footer .footer-content .email-enter div {
  background-color: white;
  border-radius: 2px;
  width: 220px;
}
footer .footer-content .email-enter div p {
  color: #828282;
  padding: 2% 0% 2% 3%;
  margin: 5% 0% 2% 0%;
  font-size: 1rem;
}
footer .footer-content .email-enter p {
  color: white;
  font-size: 0.8rem;
}
footer .footer-content address {
  padding-top: 4%;
  color: white;
  line-height: 1.5rem;
}
footer .footer-content address h6 {
  font-weight: bold;
}
footer .copyright {
  margin-top: 1.5%;
  margin-bottom: 0.5%;
  color: white;
  margin-left: 7.5%;
  font-size: 0.8rem;
}
@media (min-width: 670px) {
  footer .copyright {
    align-self: center;
    margin-left: 0%;
  }
}
